__pycache__/
*.py[cod]
.env
data/
logs/
.vscode/
.idea/
.DS_Store
.venv/
archives/
*.sh
!rag.sh
!run_rag_pipeline.sh
!process_and_archive.sh
dockerignore
docker-compose.yml
Dockerfile
documents/
temp-pdf-训练用/
